@* Views/Recruiter/Profile.cshtml *@
@model JobMedia.Models.User


@section Styles {
    <link href="~/Content/css_/RecruiterProfile.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
}

<div class="profile-container">
    <div class="profile-header">
        <h3><i class="fas fa-user-circle"></i> Recruiter Profile</h3>
    </div>

    <div class="profile-info">

        <div class="form-group mb-3">
            <label>Name</label>
            <input type="text" class="form-control" value="@Model.Name" readonly />
        </div>

        <div class="form-group mb-3">
            <label>Email</label>
            <input type="email" class="form-control" value="@Model.Email" readonly />
        </div>

        <div class="form-group mb-3">
            <label>Company Name</label>
            <input type="text" class="form-control" value="Tech Solutions Inc." readonly />
        </div>

        <div class="form-group mb-3">
            <label>Gender</label>
            <input type="text" class="form-control" value="@Model.Gender" readonly />
        </div>

        <div class="form-group mb-3">
            <label>Phone Number</label>
            <input type="text" class="form-control" value="+1 234 567 890" readonly />
        </div>

        <div class="form-group mb-3">
            <label>Address</label>
            <textarea class="form-control" rows="2" readonly>1234 Silicon Avenue, Tech City</textarea>
        </div>

    </div>

    <div class="edit-btn">
        <button class="btn btn-primary"><i class="fas fa-edit"></i> Edit Profile</button>
    </div>
</div>

